<template>

    <div>
        <div class="card border-0 rounded shadow">
            <h4>TAMBAH KOTA</h4>
            <hr>
            <div class="card-body">
                
                <form @submit.prevent="storeCity">
                    <div class="mb-3">
                        <label class="form-label">PROVINSI</label>
                        <select class='form-control' v-model='kota.provinsi_id' placeholder="Pilih Provinsi">
                            <option v-for='prov in state' :value='prov.id'>{{ prov.namaprovinsi }}</option>
                        </select>
                        <div v-if="errors.provinsi_id" class="mt-2 alert alert-danger">
                            {{ errors.provinsi_id }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">NAMA KOTA</label>
                        <input type="text" class="form-control" v-model="kota.namakota" placeholder="Masukkan Nama Kota">
                        <div v-if="errors.namakota" class="mt-2 alert alert-danger">
                            {{ errors.namakota }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-md shadow-sm me-2">SIMPAN</button>
                        <button type="reset" class="btn btn-warning btn-md shadow-sm">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'

    import { reactive } from 'vue'
    import { Inertia } from '@inertiajs/inertia'

    export default {

        //layout
        layout: LayoutApp,

        //props
        props: {
            errors: Object,
            state: Array
        },

        //define Composition Api
        setup() {

            //state posts
            const kota = reactive({
                provinsi_id: '',
                namakota: '',
            })

            //function storePost
            function storeCity() {
                
                //define variable 
                let provinsi_id   = kota.provinsi_id
                let namakota      = kota.namakota
                //send data
                Inertia.post('/cities/', {
                    provinsi_id: provinsi_id,
                    namakota: namakota,
                })
            }

            return {
                kota,
                storeCity
            }

        }
    }
</script>