<template>

    <div>
        <div class="card border-0 rounded shadow">
            <div class="card-body">
                <h4>EDIT PROVINSI</h4>
                <hr>
                <form @submit.prevent="updateState">
                    <div class="mb-3">
                        <label class="form-label">NAMA PROVINSI</label>
                        <input type="text" class="form-control" v-model="state.namaprovinsi" placeholder="Masukkan Nama Produk">
                        <div v-if="errors.namaprovinsi" class="mt-2 alert alert-danger">
                            {{ errors.namaprovinsi }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary btn-md shadow-sm me-2">UPDATE</button>
                        <button type="reset" class="btn btn-warning btn-md shadow-sm">RESET</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</template>

<script>
    //import layout
    import LayoutApp from '../../Layouts/App.vue'

    import { reactive } from 'vue'
    import { Inertia } from '@inertiajs/inertia'

    export default {

        //layout
        layout: LayoutApp,

        //props
        props: {
            state: Object,
            errors: Object
        },

        //define Composition Api
        setup(props) {

            //state posts
            const state = reactive({
                namaprovinsi: props.state.namaprovinsi
            })

            //function updatePost
            function updateState() {
                
                //define variable 
                let namaprovinsi   = state.namaprovinsi

                //send data
                Inertia.put(`/states/${props.state.id}`, {
                    namaprovinsi: namaprovinsi
                })
             
            }

            return {
                state,
                updateState
            }

        }
    }
</script>